@charset "utf-8";
/* CSS Document */

    .remodal-bg.with-red-theme.remodal-is-opening,
    .remodal-bg.with-red-theme.remodal-is-opened {
      filter: none;
    }

    .remodal-overlay.with-red-theme {
      background-color: black;
	  opacity: 0.7;
    filter: alpha(opacity=70);
    }

    .remodal.with-red-theme {
   font-weight: 300; font-size: 15px;
      background:#fff;
	  opacity:0.95;
	  filter:alpha(opacity=95);
    }
	
		.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    color: #888;
    border:1px solid #E4E4E4;
	}